<body>

<div >
<mat-form-field   >
  <mat-label>Select league</mat-label>
  <mat-select  [(ngModel)]="selected2">
    <mat-option class = "option" *ngFor="let league of leagues" [value]="league.value"  (click)="selectOption()">
      {{league.viewValue}}

    </mat-option>
  </mat-select>
</mat-form-field>
</div>




<div class="barChart">
<div>
<p>
    Average prices of players on individual positions
</p>


    <div  >
      <canvas baseChart #baseChart="base-chart"

              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>

</div>
</div>

<div class="barChart">
  <p>
    Total positions
  </p>
  <div>
    <div>
      <div >
        <canvas baseChart #polarChart="base-chart"
                [data]="polarAreaChartData"
                [labels]="polarAreaChartLabels"
                [legend]="polarAreaLegend"
                [chartType]="polarAreaChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>



<div class="barChart">

  <p>
    Average prices of players over the years
  </p>
  <div class="flex-item" >
    <div style="display: block;">
      <canvas baseChart #baseChart="base-chart"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"

              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>


<div class=barChart>
  <p>
    The most expensive transfers
  </p>



  <table class="table"  cellspacing="10"  >
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Age</th>
      <th scope="col">Team from</th>
      <th scope="col">League from</th>
      <th scope="col">Team to</th>
      <th scope="col">League to</th>
      <th scope="col">Season</th>
      <th scope="col">Market value</th>
      <th scope="col">Transfer fee</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of topPlayers; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{player.Name}}</td>
      <td>{{player.Position}}</td>
      <td>{{player.Age}}</td>
      <td>{{player.Team_from}}</td>
      <td>{{player.League_from}}</td>
      <td>{{player.Team_to}}</td>
      <td>{{player.League_to}}</td>
      <td>{{player.Season}}</td>
      <td>{{player.Market_value}}</td>
      <td>{{player.Transfer_fee}}</td>
    </tr>
    </tbody>
  </table>
</div>




      </body>



