@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background-image: url("/assets/footballBackgraund.jpg");

background-repeat:repeat-y;




}

.start{
  font-size: 40px;
  color: white;
  align-content: center;


}

