@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  height: auto;
}

body{
  background-image: url("/assets/footballBackgraund.jpg");
min-height: 1080px;
background-repeat:repeat-y;




}

.start{
  font-size: 40px;
  color: white;
  align-content: center;


}

