<body style="background-repeat: repeat;">


<div class="barChart">
  <p>
      Average prices of players on individual positions
  </p>

  <!-- #baseChart="base-chart" -->
  <div >
      <div  class = "chart" >
        <canvas baseChart

                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
  </div>
  <p>

  </p>
</div>


<div class="barChart">

  <p>
    Average prices of players over the years
</p>
      <div class="flex-item">
        <div style="display: block;">
        <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"

                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>


  <div class="barChart">
    <p>
      Total positions
  </p>
  <div>
    <div>
      <div >
        <canvas baseChart
          [data]="polarAreaChartData"
          [labels]="polarAreaChartLabels"
          [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType">
        </canvas>
      </div>
    </div>
  </div>
  </div>

  <div>


<div  class="barChart">
  <p>
    The most expensive transfers
  </p>

  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Age</th>
      <th scope="col">Team from</th>
      <th scope="col">League from</th>
      <th scope="col">Team to</th>
      <th scope="col">League to</th>
      <th scope="col">Season</th>
      <th scope="col">Market value</th>
      <th scope="col">Transfer fee</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of topPlayers; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{player.Name}}</td>
      <td>{{player.Position}}</td>
      <td>{{player.Age}}</td>
      <td>{{player.Team_from}}</td>
      <td>{{player.League_from}}</td>
      <td>{{player.Team_to}}</td>
      <td>{{player.League_to}}</td>
      <td>{{player.Season}}</td>
      <td>{{player.Market_value}}</td>
      <td>{{player.Transfer_fee}}</td>
    </tr>
  </tbody>
</table>

</div>
  </div>

<div class="barChart">
  <p>
   Median price of players on individual positions
  </p>

  <!-- #baseChart="base-chart" -->
  <div   class = "chart" >
    <canvas baseChart

            [datasets]="barChartDataMedian"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>

<div class="barChart">

  <p>
    Median transfer fee vs average transfer fee
  </p>


  <div>
    <div>
      <div>
        <div style="display: block">
          <canvas baseChart [datasets]="barChartDataAll" [labels]="barChartLabelsAll" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>

      </div>
    </div>
  </div>

</div>


    </body>
