
<body>


<div  style="align-content: center">
<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 75%; display: block;  margin-left: auto;
  margin-right: auto;"
></highcharts-chart>
  </div>



<div class="barChart">
<p >
  The sum of transfers of players of particular age
</p>


<div   class = "chart" >
  <canvas baseChart

          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
  </canvas>
</div>
</div>


<div class="barChart">

  <p>
    The sum of transfers from individual leagues
  </p>

  <div  >
  <canvas baseChart

          [datasets]="barChartDataLeagueFrom"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
  </canvas>
</div>
</div>


<div class="barChart">
<p>
  The sum of transfers to individual leagues
</p>


<div class = "chart" >
  <canvas baseChart

          [datasets]="barChartDataLeagueTo"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
  </canvas>
</div>
</div>

<p></p>


<div class="barChart">
  <table  cellspacing="30"  class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First attribute</th>
      <th scope="col">Second attribute</th>
      <th scope="col">Pearson correlation coefficient</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Transfer fee</td>
      <td>Market value</td>
      <td>{{feeMarketValueCorrelation}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Transfer fee</td>
      <td>Age</td>
      <td>{{ageFeeCorrelation}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Transfer fee</td>
      <td>Season</td>
      <td>{{seasonCorrelation}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Transfer fee</td>
      <td>Position</td>
      <td>{{positionCorrelation}}</td>
    </tr>
    </tbody>
  </table>

</div>




</body>

